<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Benodigde grafieken</h1>
    <button id="pie">PIE</button>
    <button id="bar">BAR</button>
    <div id="barchart" style="height: 1000px; width: 500px; display: none;"></div>
    <div id="piechart" style="height: 500px; width: 500px; display: none;"></div>
    <script src="https://cdn.plot.ly/plotly-3.1.0.min.js"></script>
    <script src="script.js"></script>
</body>
</html>