/* Adjust height only between large and small breakpoints */
@media (min-width: 576px) and (max-width: 992px) {
    #navbar {
        height: 56px !important; /* Ensure it stays 56px */
    }
    #navbarSupportedContent {
    height: 40px !important;
    padding-top: 8px;
}
}